input {
    flex: 1;
    max-width: 70%;
    :hover, :focus{
        background-color: var(--hover-color);
    }
}
.nameSection {
    display: flex;
    gap: 1rem;
    margin-bottom: 10px;
    :hover, :focus{
        background-color: var(--hover-color);
    }
    button {
      justify-content: center;
      align-items: center;
    }
}

.content {
    container-type: size;
    display: grid;
    grid-template-columns: 100cqh 1fr;
}
@media (max-aspect-ratio: 1.2) {
    .content {
        display: flow;
    }
}
.boardSection {
    display: grid;
    grid-template-columns: repeat(8, 12vmin);
    grid-template-rows: repeat(8, 12vmin);
    :hover, :focus {
        background-color: var(--hover-color);
    }
    button {
        border-radius: 20%;
        justify-content: center;
        align-items: center;
        img {
            border-radius: 10%;
            max-width: 100%;
            max-height: 100%;
        }
    }
}
.closed {
    background-color: gray;
}

#leaderboardID {
    section {
        border: 1px solid black;
        display: grid;
        grid-template-columns: 10fr 200px;
        section {
            padding-left: 10px;
        }
    }
    .Account-score {
        background-color: goldenrod;
    }
    .Player-score {
        background-color: darkcyan;
    }
    #titleScores {
        background-color: darkcyan;
        font-weight: bold;
    }
}

.error-popup {
    position: fixed; top: 1rem; right: 1rem;
    background-color: darkred; color: white; border-radius: 20px;
    padding: 0.5rem; z-index: 100;
}

#leaderboardID,
#player-name,
#player-score {
  text-align: center;
}
