@import url('../styles.css');

.board {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    :hover {
        background-color: blue;
    }
    section {
        height: 100pt;
        border: black solid 1px;
    }
}
.closed {
    background-color: gray;
}

input {
    width: 1fr;
}