@import url('../styles.css');

main {
    display: flex;
    flex-direction: column;
}

#modeSelect {
    display: grid;
    grid-template-columns: 50vw 50vw;
    font-size: 2rem;
    a {
        font-size: inherit;
        background-color: lightcoral;
        border: black solid 1px;
        text-align: center;
    }
}

#playCPU:hover {
    background-color: #7777ff;
}
#playAlone:hover {
    background-color: skyblue;
}
